<div class="btn-toolbar text-md-center" role="toolbar" aria-label="Toolbar with button groups">
  <div class="btn-group mr-2" role="group" aria-label="First group">
    <% for j in (1..9) %>
      <%= link_to j, home_works_path(j), {class: "btn btn-secondary"} %>
    <% end %>
  </div>
</div>
<div>

</div>
