<div class="row container-fluid">
  <% for i in 0..@subjects.size - 1 %>
    <div class="col-lg-4">
      <div class="card border-primary mb-3" style="max-width: 15rem;">
        <div class="card-header">
          <div class="text-center"><%= @subjects[i][0] %></div>
        </div>
        <div class="card-body">
          <h4 class="card-title">
            <div class="text-center">Завдання: <%= %></div>
          </h4>
          <p class="card-text"><%#= RemoteStudy.where().count %></p>
          <p class="card-text">
          <div class="text-center">
            <%= button_to "Перейти", remote_study_subject_path(@subjects[i][1]), method: :get, :class => "btn btn-success" %>
          </div>
          </p>
        </div>
      </div>
    </div>
  <% end %>
</div>