

  <%= option_for_select(@subjects.map{|c| [c.content.('id'), c.attr.('id')]})  %>


<!--<div class="form-group">
  <label for="exampleSelect1">Example select</label>
  <select class="form-control" id="exampleSelect1" style="max-width: 400px;">
  <%# for i in (0..17) %>
    <option id="<%#=@subjects[i].attr('id')%>">
      <%#= @subjects[i].content+ ' '%>
    </option>
    <%#= link_to "Змінити предмет"%>
  <%# end %>
  </select>
  <p>=></p>
  <input class="form-check-input" placeholder="Введіть назву предмета"><br>
  <%#= link_to "Змінити", root_path ,{:class => "btn btn-success"}%>
</div>
<div class="form-group">
  <label for="exampleSelect1">Example select</label>
  <select class="form-control" id="exampleSelect1">
    <option>1</option>
    <option>2</option>
    <option>3</option>
    <option>4</option>
    <option>5</option>
  </select>
</div>